.About {
    padding: 25vh 0px 25vh 0px;
    height: 50vh;
    width: 60vw;
}

.About-TitleNum {
    display: inline-block;
    color: #4e67eb
}

.About-TitleText {
    display: inline-block;
    font-weight: bold;
    margin: 0px 0px 0px 12px;
}

.About-Desc {
    width: 31vw;
    float: left;
    clear: left;
    font-size: 2vh;
    margin-bottom: 0px;
}

.About-ImportantText {
    color: #4367eb
}

.About-Techs {
    float: left;
    clear: left;
    font-size: 2vh;
    padding: 0px;
    columns: 3;
    column-gap: 4vw;
}

.About-Techs li {
    list-style: none;
}

.About-Techs li::before {
    content: '\25B8';
    padding-right: 1vw;
    color: #4367eb;
}

.About-PicMe {
    width: 28vw;
    height: 34vh;
    float: right;
    border: 2px solid #4367eb;
}