.About {
    padding: 220px 0px 220px 0px;
    width: 950px;
}

.About-TitleNum {
    display: inline-block;
    color: #4e67eb
}

.About-TitleText {
    display: inline-block;
    font-weight: bold;
    margin: 0px 0px 0px 12px;
}

.About-Desc {
    width: 500px;
    float: left;
    clear: left;
    font-size: 18px;
    margin-bottom: 0px;
}

.About-ImportantText {
    color: #4367eb
}

.About-Techs {
    float: left;
    clear: left;
    font-size: 18px;
    padding: 0px;
    columns: 3;
    column-gap: 28px;
}

.About-Techs li {
    list-style: none;
}

.About-Techs li::before {
    content: '\25B8';
    padding-right: 1vw;
    color: #4367eb;
}

.About-PicMe {
    width: 420px;
    height: 280px;
    float: right;
    border: 2px solid #4367eb;
}