.Experience {
    padding: 225px 0px 225px 235px;
}

.Exp-TitleNum {
    display: inline-block;
    color: #4e67eb
}

.Exp-TitleText {
    display: inline-block;
    font-weight: bold;
    margin: 0px 0px 0px 12px;
}

.Exp-List {
    padding-left: 6px;
    width: 12vw;
    float: left;
    margin-right: 0px;
}

.Exp-List-Item {
    list-style: none;
    font-size: 16px;
    border-left: 2px solid #919191;
    color: #919191;
    padding: 12px 0px 12px 20px;
}

.Exp-List-Item:hover {
    color: #4e67eb;
    background-color: #E8E8E8;
}

.Exp-List-Selected {
    color: #4e67eb;
    border-left: 2px solid #4e67eb;
}

.Exp-DescContainer {
    float: left;
    padding-left: 12px;
    width: 46vw;

}

.Exp-JobTitle {
    color: black;
    float: left;
    font-weight: bold;
    font-size: 3vh;
    margin-top: 2.5vh;
    margin-bottom: 1vh;
    display: inline;
    width:100%;
}

.Exp-At {
    color: #4e67eb;
}

.Exp-JobLink {
    position: relative;
    text-decoration: none;
    color: #4e67eb;
}

.Exp-JobLink:after{
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 0px;
    right: 0;
    background: #4e67eb;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.Exp-JobLink:hover:after{
    width: 100%;
    left: 0;
    background: #4e67eb;
}

.Exp-JobSubtitle {
    float: left;
    margin-top: 0px;
    font-size: 2vh;
    font-weight: normal;
    width: 100%;
}

.Exp-JobList {
    float: left;
    clear: right;
    font-size: 1.8vh;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 8px;
    width: 65%;
}

.Exp-JobList li {
    list-style: none;
    padding-left: 10px;
    text-indent: -19px;
    margin-bottom: 12px;
}

.Exp-JobList li::before {
    content: '\25B8';
    padding-right: 10px;
    color: #4367eb;
}