.Home-Container {
    height: 50vh;
    float: left;
    padding: 220px 0px 220px 0px;
}

.Home-Name {
    text-align: left;
    margin: 0px;
    font-weight: bold;
    font-size: 72px;
}

.Home-Desc {
    text-align: left;
    margin: 0px;
    font-size: 72px;
    font-weight: bold;
    color: #4e67eb
}

.Home-Intro {
    margin: 0px;
    font-size: 18px;
    font-weight: normal;
}

.Home-Subtext {
    float: left;
    margin-top: 60px;
    font-size: 18px;
    width: 100%;
}

.Home-ContactBtn {
    padding: 18px 24px 18px 24px;
    margin: 50px 0px 0px 0px;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'CircularStd';
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.75s;
    color: #4e67eb;
    border: 2px #4e67eb solid;
    float: left;
}

.Home-ContactBtn:hover {
    background-color: #dbe0fb;
    transition: background-color 0.75s;
}

.Home-Email {
    font-size: 14px;
    margin: 0px;
    position: fixed;
    right: 0px;
    bottom: 200px;
    transform: rotate(90deg);
    color: #919191;
}

.Home-EmailLine {
    width: 1px;
    height: 110px;
    background: #919191;
    position: fixed;
    right: 83px;
    bottom: 0px;
}

.Home-MediaLine {
    width: 1px;
    height: 110px;
    background: #919191;
    position: fixed;
    left: 85px;
    bottom: 0px;
}

.Home-MediaList {
    font-size: 22px;
    position: fixed;
    list-style: none;
    left: 76px;
    bottom: 110px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: #919191;
}

.Home-MediaList li {
    margin-bottom: 18px;
}

.Home-MediaIcon {
    text-decoration: none;
    color: #919191;
}