.Home-Container {
    width: 54vw;
    height: 50vh;
    float: left;
    padding: 25vh 0px 25vh 0vw;
}

.Home-Name {
    text-align: left;
    margin: 0px;
    font-weight: bold;
    font-size: 72px;
}

.Home-Desc {
    text-align: left;
    margin: 0px;
    font-size: 72px;
    font-weight: bold;
    color: #4e67eb
}

.Home-Intro {
    margin: 0px;
    font-size: 18px;
    font-weight: normal;
}

.Home-Subtext {
    float: left;
    margin-top: 60px;
    font-size: 18px;
    width: 100%;
}

.Home-ContactBtn {
    padding: 18px 24px 18px 24px;
    margin: 50px 0px 0px 0px;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'CircularStd';
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.75s;
    color: #4e67eb;
    border: 2px #4e67eb solid;
    float: left;
}

.Home-ContactBtn:hover {
    background-color: #dbe0fb;
    transition: background-color 0.75s;
}