.Nav {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 7vh;
    font-size: 18px;
    background-color: #f3f3f3;
}

.Nav-Icon {
    float: left;
    font-weight: bold;
    border: 1px black solid;
    vertical-align: middle;
    font-size: 2vh;
    padding: 1vh 0.5vw 1vh 0.5vw;
    margin: 1vh 0vw 1vh 1vw;
}

.Nav-Options {
    color: #000;
    list-style: none;
    float: right;
    margin: 20px;
}

.Nav-Options li {
    display: inline-block;
    margin: 0px 20px 0px 20px;
}

.Nav-Link {
    position: relative;
    text-decoration: none;
    color: black;
    vertical-align: bottom;
}

.Nav-Link:after{
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 0px;
    right: 0;
    background: #000;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.Nav-Link:hover:after{
    width: 100%;
    left: 0;
    background: #000;
}