.Projects {
    width: 60vw;
    height: 50vh;
    padding: 25vh 0vw 25vh 0vw;
}

.Proj-TitleNum {
    display: inline-block;
    color: #4e67eb
}

.Proj-TitleText {
    display: inline-block;
    font-weight: bold;
    margin: 0px 0px 0px 12px;
}

.Proj-Col1.Proj-Col2.Proj-Col3 {
    width: 33%;
}

.Proj-Card {
    background-color: black;
    width: 100%;
    height: 200px;

}

.Proj-FeatContainer {
    display: flex;
    flex-direction: column;
}

/* Even Projects */

.Proj-FeatTitle {
    text-align: right;
    color: #4e67eb;
    font-size: 14px;
    margin-bottom: 6px;
}

.Proj-FeatPTitle {
    text-align: right;
    color: black;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    margin-top: 0px;
}

.Proj-DescDiv {
    float: right;
    height: 100px;
    width: 400px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 16px;
    text-align: right;
    padding: 20px;
}

.Proj-Pic {
    width: 200px;
}

.Proj-DataDiv {
    width: 50%;
    float: right;
}

.Proj-SkillListItem {
    display: inline-block;
    padding: 0px 0px 0px 16px;
}

/* Odd Projects */

.Proj-FeatTitle2 {
    text-align: left;
    color: #4e67eb;
    font-size: 14px;
    margin-bottom: 6px;
}

.Proj-FeatPTitle2 {
    text-align: left;
    color: black;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    margin-top: 0px;
}

.Proj-DescDiv2 {
    float: left;
    height: 100px;
    width: 400px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 16px;
    text-align: left;
    padding: 20px;

}

.Proj-DataDiv2 {
    width: 50%;
    float: left;
}

.Proj-PicDiv2 {
    float: right;
}

#FirstProj {
    margin-top: 0px;
}

.Proj-SkillList {
    list-style: none;
    font-size: 16px;
    color: #919191;
    float: right;
    padding: 0px;
}

.Proj-SkillList2 {
    list-style: none;
    font-size: 16px;
    color: #919191;
    float: left;
    padding: 0px;
}

.Proj-SkillListItem2 {
    display: inline-block;
    padding: 0px 16px 0px 0px;
}
